body {
  height: 100vh;
  background-image: linear-gradient(to top, rgb(245, 245, 245),rgb(187, 213, 182));
}

html, body {
  // This defines what 1rem is
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

